@media screen and (max-width: 1200px){
    #desktop-nav{
        display: none;
    }
    #hamburger-nav{
        display: flex;
    }
    .prof{
        flex-direction: column;
        gap: 2rem;
        
    }
    .propic{
        width: 50%;
        height: 50%;
    }
}
    
    
@media (max-width: 768px) {
    .propic{
        width: 50vw;
        height: 50vw;
    }
}

#blogs {
    padding: 2rem 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

@media (max-width: 600px) {
    .propic{
        width: 50vw;
        height: 50vw;
    }
}
